@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

body {
  @apply bg-gradient-to-b from-zinc-900  to-zinc-950
}